*.idea/*
*.vscode/*
venv
env
static
media/*
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.env.prod
.env.staging
.env.dev
.env.debug
.env.docker
.env.docker.local
.env.docker.development
.env.docker.test
.env.docker.production
.env.docker.prod
.env.docker.debug
.env.docker.dev
.env.docker.staging
.env.docker.env
.env.docker.env.local
.env.docker.env.development
.env.docker.env.test
cashier/local_settings.py

