{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% include 'website/partials/css.html' %}
  </head>
  <body>
    {% block content %}
    <main class="bg-light">
      <div class="p-2">
        <div class="py-4">
            <!--search-->
            <div class="col-md-9 navbar mb-3">
                <div class="navbar-card  mb-0 me-auto">   
                    <div class="input-box fw-bold mb-0 me-auto">
                    <input type="text" class="form-control" placeholder="search . . .">
                    <i class="fa fa-search"></i>                    
                    </div>
                </div>
            </div>
        
            <!--box-->
            <div class="row g-3">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fruit.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fruit.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fruit.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fruit.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fruit.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                            <div class="card card-box col-md-3 border-0 shadow-sm mb-4 mr-2">
                                <div class="text-center">
                                    <img src="{% static 'website/img/fish.png' %}" alt="" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <p class="card-title box-title fw-bold text-truncate">Yellow Banana</p>
                                    <p class="card-text"><span>$4.3</span></p>
                                    <a href="" class="btn btn-outline-success btn-sm position-absolute bottom-0 end-0 mb-2 mr-3">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--cart-->
            <div class="col-md-4">
                <div class="card card-cart position-fixed top-0 bottom-0 bg-white justify-content-md-end border-0 shadow-sm">
                    <div class="card-body cart-main">
                        <h4 class="card-title text-center my-4">Cashier</h4>
                        <div class="card cart-main border-0 mb-3">
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                            <div class="card-body mx-2 border-0 shadow-sm">
                                <p class="fw-bold text-start" style="font-size:14px ;">Yellow Banana</p><p class="fw-bold" style="margin-top:-10px ; color: #00ab14;">$4.8</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-sm btn-cart" type="button"><i class="ri-subtract-line"></i></button>
                                    <button class="btn btn-sm me-md-2 fw-bold" type="button">1</i></button>
                                    <button class="btn btn-cart btn-sm" type="button"><i class="ri-add-line"></i></button>
                                </div>
                            </div>
                        </div>
                        
                            
                        <p class="fw-bold py-3">Total: <span class="text-total">$12.00</span></p>
                        <hr>
                        <button type="button" class="btn btn-pay text-light" >Pay</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>
    
    {% endblock %} 
    
    {% include 'website/partials/scripts.html' %}
  </body>
</html>