{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/toastr/build/toastr.min.css' %}">
{% endblock extra_css %}
{% block content %}

{% endblock %}

{% block script_end %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <!-- toastr plugin -->
    <script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>
    <!-- dashboard init -->
    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock %}