<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
            <label for="email" class="form-label">{{ field.label }}</label>

            <div class="mt-1">
                {% if field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                    {{ field }}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
            <span class="text-muted">{{ field.help_text }}</span>
            <span class="text-xs text-red-400">{{ field.errors }}</span>
        </div>
    {% endfor %}
    <div class="d-flex flex-wrap gap-2 mt-2">

    <a href="/backoffice" class="btn btn-danger">
        Kembali
    </a>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    </div>
</form>