   {% load static %}
   <!-- start: Sidebar -->
    <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
        <div class="d-flex align-items-center p-3">    
        <img class="text-center ml-2" src="{% static 'website/img/LO.png'%}" style="width:3.5rem ; align-items: center;" alt=""></h2>
        </div>
        <ul class="sidebar-menu p-3 m-0 mb-0">
            <li class="sidebar-menu-item active">
                <li class="sidebar-menu-item active">
                    <a href="#">
                        <i class="ri-store-2-line sidebar-menu-item-icon"></i>
                    </a>
                </li>
                <li class="sidebar-menu-item has-dropdown">
                    <a href="#">
                        <i class="ri-user-line sidebar-menu-item-icon"></i>
                    </a>
                </li>
            </li>
        </ul>
    </div>

<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->